.grid-outline{
    box-sizing: border-box;
    width:100%;
    height:100%;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
    font-size:20px;
    

}
[class*='col-'] {
    float: left;
    min-height: 1px; 
   
    padding:10px;
    
}
.col-1 {
    width: 25%; 
      
}
.col-2 {
    width: 100%;
    
}
.col-3 {
    width: 50%;
    
}
.col-4 {
    width: 75%;
    
}

.col-5 {
    padding-left:80px;
    padding-right:0px;
    padding-top:50px;
    width:70%;
    
}

.col-6{
    
    width:15%;
    
}

 .row-1 {
   height: 7.69%;
   max-height: 7.69%;
}
.row-2 {
   height: 15.38%;
   max-height: 15.38%;
}
.row-3 {
    height: 23.07%;
   max-height: 23.07%;
}
.row-4 {
    height: 30.76%;
    max-height: 30.76%;
} 
#row-1 {
text-align:left;
}
#row-1 p{
    text-transform: uppercase;
    
}
#row-2 {
    text-align: left;
    text-transform: uppercase;
}

#row-4 p{
    text-align:justify;
    text-indent: 5em;
    padding:10px 10% 10px 10%;
    }

#row-5 {
    background-image: url("list-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height:280px;
    width:100%;  
    
}    

#row-6{
    
    width:80%;
    text-align:left;
    
}

.delicious {
    font-family: cursive
}

#pizza {
    width: 80%;
    }

ul{
    line-height: 1.3em;
    display:inline-block;
    font-size: 1.2em;
    color:rgb(148, 145, 145)
}

#row-6{
    color:rgb(148, 145, 145);
    padding-top:5px;
    display: inline;
    
}
.author{
    float:left;
    padding-left:20px;
    padding-right:10px;
}
.author-name{
    color: rgb(56, 54, 54)
}

.about{
    margin-left:100px;
    
}
.recipe{
    background-color:rgb(185, 87, 7);
    color:white;
    text-transform: uppercase;
    
    padding:10px;
    position:relative;
    left:70%;
    top:50px;
    font-family: 'Times New Roman', Times, serif
}

.copyright {
    font-size: 0.8em;
    color:rgba(148, 145, 145, 0.5);
}

.line-through{
    overflow:hidden;
    text-align:center;
}

.line-through > span {
    position: relative;
    display:inline-block;
    }
    .line-through > span:before, .line-through > span:after{
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 1px solid rgba(148, 145, 145, 0.5);;
        width: 420px; 
        margin: 0 20px;
    }
    .line-through > span:before{
        right: 100%;
    }
   