body{
   
    width:960px;
    height:100%;
}


.grid-outline{
    /* box-sizing: border-box; */
    width:960px;
    height:100%;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
    font-size:20px;
    

}
[class*='col-'] {
    float: left;
    min-height: 1px; 
    padding:10px;
    
}
.col-0{
    padding:40px 0px 20px 100px;
    width:100px;
}

.col-1 {
    width: 240px; 
   
      }

   
.col-2 {
    width: 960px;
    
}
.col-3 {
    width: 480px;
    
}
.col-4 {
    width: 720px;
    
}

.col-5 {
    padding-left:20px;
    padding-right:0px;
    padding-top:50px;
    width:660px;
    
}

.col-6{
    
    width:174px;
    
}

 .row-1 {
   height: 7.69%;
   max-height: 7.69%;
   
}
.row-2 {
   
   height: 15.38%;
   max-height: 15.38%;
}
.row-3 {
    height: 23.07%;
   max-height: 23.07%;
}
.row-4 {
    height: 30.76%;
    max-height: 30.76%;
} 

#row-1 {
   
text-align:left;
}
#row-1 p{
    text-transform: uppercase;
    
   
    
}
#row-2 {
    padding-left:40px;
    text-align: left;
    text-transform: uppercase;
   
}

#row-4 p{
    text-align:justify;
    color:rgb(116, 113, 113);
    text-indent: 2.5em;
    padding:10px 40px ;
   
    }

#row-5 {
    background-image: url("list-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height:280px;
    width:960px;  
    
}    
#row-6{
    color:rgb(148, 145, 145);
    padding-top:5px;
    display: inline;
    text-align:left;
    
}

#top-logo{
    padding-top:15px;
   
    
    
}
.delicious {
    font-family: cursive;
    font-size:1.5em;
    margin-bottom:0px;
    
    
}

.subheading {
    font-size:0.6em;
    color:grey;
    
}
#social-links{
float:right;
margin-top:50px;
margin-left:10px;
   
}

.border-pic {
    width:100%;
}
#border-pic{
    width:900px;
}

#border-pic2 {
    padding-top:20px;
    margin-bottom:0px;
    width:880px;
}

.heading-2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.2em;
    font-weight: bold;
}

#print{
    float:right;
    padding-right:10px;
    padding-bottom:20px;
}

#print-text{
    float:right;
    font-size:8px;
    color:grey;
    padding-right:100px;
    
}


#pizza {
    width: 870px;
    margin-top:0px;
    }

ul{
    line-height: 1.3em;
    display:inline-block;
    font-size: 1.2em;
    color:rgb(148, 145, 145)
}


.author{
    float:left;
    padding-left:20px;
    padding-right:10px;
}
.author-name{
    color: rgb(56, 54, 54);
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.about{
    margin-left:100px;
    margin-bottom:0px;
    margin-top:2px;
}
.recipe{
    background-color:rgb(185, 87, 7);
    color:white;
    text-transform: uppercase;
    padding:15px 20px;
    margin-top:80px;
    float:right;
    font-family: 'Times New Roman', Times, serif;
    border-style: none;
   
}

.copyright {
    font-size: 0.8em;
    color:rgba(148, 145, 145, 0.5);
}

.line-through{
    overflow:hidden;
    text-align:center;
}

.line-through > span {
    position: relative;
    display:inline-block;
    }
    .line-through > span:before, .line-through > span:after{
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 1px solid rgba(148, 145, 145, 0.5);;
        width: 420px; 
        margin: 0 20px;
    }
    .line-through > span:before{
        right: 100%;
    }
   